docs/index.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/progressbar/progressbar.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"> <a class="navbar-brand">Waifu2x-Hack</a></div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-horizontal form-upload" id="form-upload" action="/upload" method="POST" enctype="multipart/form-data" accept="image/*">
            <div class="form-group">
              <label class="col-sm-4">Folder Input</label>
              <input class="col-sm-8" type="file" name="file" id="file" multiple accept="image/*">
              <input class="col-sm-8" type="hidden" name="session" id="session">
            </div>
            <button class="pull-right btn-upload btn btn-default" type="submit">Upload<i class="fa fa-spinner fa-spin fa-fw hidden" id="spinner"></i></button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul id="file-list"></ul>
          <li id="file-item"><span class="file-name">file_1</span><span class="progress">0</span><span>%</span></li>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2"><a class="hidden" id="download" href="">Download</a></div>
      </div>
    </div>
  </body>
</html>

views/index.pug
extends layout

block content
  div.row
    div.col-md-8.col-md-offset-2
      form.form-horizontal.form-upload#form-upload(action="/upload" method="POST" enctype="multipart/form-data" accept="image/*")
        div.form-group
          label.col-sm-4 Folder Input
          input.col-sm-8(type="file" name="file" id="file" multiple accept="image/*")
          input.col-sm-8(type="hidden" name="session" value=session id="session")
        button.pull-right.btn-upload(type="submit" class="btn btn-default") Upload
          i#spinner.fa.fa-spinner.fa-spin.fa-fw.hidden
  div.row
    div.col-md-8.col-md-offset-2
      ul#file-list
      li#file-item
          span.file-name file_1
          span.progress 0
          span %

  div.row
    div.col-md-8.col-md-offset-2
      a#download.hidden(href='') Download
