views/layout.pug
doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/lib/bootstrap/js/bootstrap.min.js")
    script(src="/lib/progressbar/progressbar.min.js")
    script(src="/javascripts/script.js")
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header 
          a.navbar-brand Waifu2x-Hack
    div.container
      block content

docs/layout.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/progressbar/progressbar.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"> <a class="navbar-brand">Waifu2x-Hack</a></div>
      </div>
    </nav>
    <div class="container">
    </div>
  </body>
</html>
